<!DOCTYPE html>
<html>
    <head>
        <title>Đăng nhập</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/myStyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body class="text-dark" id="bgImage">
        <div class="bg-white text-center p-5 ml-auto mx-auto login-box radius-10 margin-auto">
            <h1>ĐĂNG NHẬP</h1>
            <form action="#" method="POST" class="mt-5">
                <input type="text" id="taikhoan" name="taikhoan" placeholder="Tài khoản" class="form-control pl-3 pr-2 my-2 mx-auto width-300">
                <input type="password" id="matkhau" name="matkhau" placeholder="Mật khẩu" class="form-control pl-3 pr-2 my-2 mx-auto width-300">
                <div class="my-3"><a href="#" class="text-dark text-decoration-none"><b>Quên mật khẩu?</b></a></div>
                <div><button type="submit" class="btn border-none pt-1 pb-2 width-300 btn-1" id="login-btn"><b>Đăng nhập</b></button></div>
            </form>
            <div class="mt-3"><b>Hoặc đăng nhập bằng</b><br>
                <button class="btn pt-1 pb-2 border-none btn-1 mt-3 mb-2 text-light bg-primary width-300">
                    <i class="fa fa-facebook-square"></i> <b>Tài khoản Facebook</b>
                </button><br>
                <button class="btn pt-1 pb-2 border-none btn-1 mt-2 mb-3 text-light bg-danger width-300">
                    <i class="fa fa-google"></i> <b>Tài khoản Google</b>
                </button><br>
            </div>
            <div><a href="DangKy.html" class="text-dark text-decoration-none"><b>Bạn chưa có tài khoản? Đăng ký</b><br></div>
        </div>
    </body>
</html>